$bg-blue: #81b3d2;
$white: #ffffff;
$bg-blue-hover: #669ec0;
$bg-blue-active: #5496bd;
$white-active: rgba(255, 255, 255, 0.3);
$text-color: rgba(51, 51, 51, 1);
$disabled-color: #e5e5e5;
$black: #000000;
$black-active: rgba(0, 0, 0, 0.3);
$bg-input-color: #f2f2f2;
$bg-input-color-hover: #e5e5e5;
$bg-input-color-active: #d5d5d5;
