.advantages__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: $text-color;
  margin: 0 auto;
  margin-bottom: 11px;
  text-align: center;
  max-width: 285px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  // display: flex;
  flex-direction: column;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
