.catalog {
  @media (min-width: $tablet-width) {
    margin: 0 60px 59px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 59px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
