.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright-logo {
  fill: $black;

  &:hover {
    fill: $bg-blue;
  }

  &:active {
    fill: $black-active;
  }
}
