.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  margin-top: -7px;
}

.copyright__link {
  position: relative;
}

.copyright__link-icon {
  fill: $black;

  &:hover {
    fill: $bg-blue;
  }

  &:active {
    fill: $black-active;
  }
}
