.description {
  max-width: 460px;
  text-align: center;
  margin: 0 auto 33px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.description__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.description__text {
  margin: 0;
  margin-bottom: 48px;
  color: $text-color;
  line-height: 24px;
}
