.feedback-form {
  color: $text-color;
}

.feedback-form__list {
  border: none;
}

.feedback-form__label {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
}

.feedback-form__input-radio {
  background-color: $bg-input-color;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-top: 0.25em;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0209 10.9225C20.0209 5.90265 15.9503 1.82876 10.9284 1.82876C5.90623 1.82876 1.83574 5.90265 1.83574 10.9225C1.83574 15.9457 5.9065 20.0168 10.9284 20.0168C15.9501 20.0168 20.0209 15.9457 20.0209 10.9225Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  }

  &:hover {
    background-color: $bg-input-color-hover;
  }

  &:active {
    background-color: $bg-input-color-active;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M20.0209 10.9228C20.0209 5.90296 15.9503 1.82907 10.9284 1.82907C5.90623 1.82907 1.83574 5.90295 1.83574 10.9228C1.83574 15.9454 5.90654 20.0166 10.9284 20.0166C15.95 20.0166 20.0209 15.9454 20.0209 10.9228Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  }
}

.feedback-form__input-checkbox {
  background-color: $bg-input-color;
  border-radius: 5px;
  width: 56px;
  height: 56px;
  margin-top: 0.25em;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  &:hover {
    background-color: $bg-input-color-hover;
  }

  &:active {
    background-color: $bg-input-color-active;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333'/%3E%3C/svg%3E ");
  }
}

.feedback-form__textarea {
  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: $black;
  }
}
