.feedback-form {
  display: grid;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.feedback-form__list {
  display: flex;
  flex-wrap: wrap;

  width: 280px;
  margin: 0 auto 20px;
  padding: 0;
  border: none;
}

.feedback-form__list--feeling {
  @media (min-width: $tablet-width) {
    grid-area: 1/1/2/2;
    width: 265px;
    margin-left: 0;
  }
}

.feedback-form__list--contacts {
  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/3;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback-form__list--place {
  @media (min-width: $tablet-width) {
    grid-area: 3/1/4/3;
    display: grid;
    width: 463px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    grid-template-columns: repeat(4, 25%);
  }
}

.feedback-form__list--description {
  @media (min-width: $tablet-width) {
    grid-area: 4/1/5/3;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.feedback-form__list--submit {
  @media (min-width: $tablet-width) {
    width: 648px;
    grid-area: 5/1/6/3;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.feedback-form__title {
  margin: 0 auto 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.feedback-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // margin: 0 auto 20px;
}

.feedback-form__label {
  font-size: 18px;
  color: $black;
  font-weight: bold;
  text-transform: none;
  line-height: 26px;

  &--font {
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color;
    font-weight: normal;
  }

  &--contacts {
    padding-left: 20px;

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }
}

.feedback-form__input {
  padding: 16px 20px;
  margin: 0;
  // flex-grow: 1;

  &--name {
    margin-left: 16px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.feedback-form__group {
  &--contacts {
    @media (min-width: $tablet-width) {
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
    }
  }
}

.feedback-form__input-radio {
  background-color: $bg-input-color;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-top: 0.25em;
  margin-right: 26px;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0209 10.9225C20.0209 5.90265 15.9503 1.82876 10.9284 1.82876C5.90623 1.82876 1.83574 5.90265 1.83574 10.9225C1.83574 15.9457 5.9065 20.0168 10.9284 20.0168C15.9501 20.0168 20.0209 15.9457 20.0209 10.9225Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  }

  &:hover {
    background-color: $bg-input-color-hover;
  }

  &:active {
    background-color: $bg-input-color-active;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M20.0209 10.9228C20.0209 5.90296 15.9503 1.82907 10.9284 1.82907C5.90623 1.82907 1.83574 5.90295 1.83574 10.9228C1.83574 15.9454 5.90654 20.0166 10.9284 20.0166C15.95 20.0166 20.0209 15.9454 20.0209 10.9228Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  }
}

.feedback-form__input-checkbox {
  background-color: $bg-input-color;
  border-radius: 5px;
  width: 56px;
  height: 56px;
  margin-top: 0.25em;
  margin-right: 29px;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  &:hover {
    background-color: $bg-input-color-hover;
  }

  &:active {
    background-color: $bg-input-color-active;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333'/%3E%3C/svg%3E ");
  }
}

.feedback-form__textarea {
  width: 280px;
  background-color: $bg-input-color;
  border: none;
  height: 160px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: $black;
  }
}

.feedback-form__submit {
  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 50%;
  }
}

.feedback-form__small {
  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
