.font {
  &--title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--large {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--input {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: $black;
  }
}
