.input {
  box-sizing: border-box;
  border: 4px solid $bg-input-color;
  background-color: $bg-input-color;

  &:hover {
    border-color: $bg-input-color-hover;
    background-color: $bg-input-color-hover;
  }

  &:focus {
    outline: none;
    background-color: $white;
    border-color: $bg-input-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: $black;
  }
}
