.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}
