.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $black;
}

.page__container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
