.page-header {
  position: relative;
  background-color: $white;
}

.page-header__logo {
  display: block;
  height: 56px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
  }
}

.page-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
  }
}

// .page-header__inner {
//   box-sizing: border-box;
//   padding-right: 15px;
//   padding-left: 15px;
//   background-color: $bg-blue;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   text-align: center;

//   background-image: url("../img/intro.jpg");

//   @media (min-resolution: 2dppx) {
//     background-image: url("../img/intro@2x.jpg");
//   }

//   &--index {
//     height: 389px;

//     @media (min-width: $tablet-width) {
//       height: 518px;
//     }
//   }

//   &--other {
//     height: 157px;

//     @media (min-width: $tablet-width) {
//       height: 290px;
//     }
//   }
// }

// .page-header__inner-image {
//   padding-top: 78px;
//   margin: 0 auto;
//   display: block;
//   width: 282px;
//   height: 214px;

//   @media (min-width: $tablet-width) {
//     width: 461px;
//     height: 350px;
//   }

//   &--other {
//     width: 229px;
//     height: 39px;
//     padding-top: 52px;

//     @media (min-width: $tablet-width) {
//       width: 457px;
//       height: 78px;
//       padding-top: 95px;
//     }
//   }
// }
